<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="7a65836c-2650-4cb7-96df-ab3bdc10ad2f" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://api.openweathermap.org" type="rest">
  <con:settings id="22ae3b02-8dc0-403c-996c-f8aece9dfb96">
    <con:setting id="7a65836c-2650-4cb7-96df-ab3bdc10ad2ffileName">http%3A%2F%2Fapi.openweathermap.org</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://api.openweathermap.org</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="Default">
      <con:authProfile>test profile</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
